/* Base button styles - common attributes */
.btnBase {
  border-radius: var(--radius);
  cursor: pointer;
  font-size: var(--text-md);
  padding: var(--btn-padding);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btnBase:disabled {
  opacity: 0.5;
}

.btnBase:disabled:hover {
  background-color: var(--background);
  color: var(--foreground);
  border: 2px solid var(--foreground);
}

.btnPrimary {
  background-color: var(--background);
  color: var(--foreground);
  border: 2px solid var(--foreground);
}

.btnPrimary:hover {
  background-color: var(--foreground);
  color: var(--background);
}

.btnAction {
  background-color: var(--primary);
  font-style: medium;
  line-height: 1.2;
  color: var(--background);
  border: none;
}

.btnAction:hover {
  background-color: var(--primary-light);
}

.btnOutline {
  background-color: transparent;
  color: var(--background);
  border: 2px solid var(--background);
}

.btnOutline:hover {
  background-color: var(--foreground);
  color: var(--background);
}

.btnSecondary {
  background-color: var(--foreground);
  color: var(--background);
  border: 2px solid var(--foreground);
}

.btnSecondary:hover {
  background-color: var(--background);
  color: var(--foreground);
}
