.sliderContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sliderContainer:hover .arrowButton {
  opacity: 1;
}

.noImages {
  width: 100%;
  height: 24rem;
  background-color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6b7280;
  font-size: 1.125rem;
}

.sliderTrack {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  position: relative;
}

.slideImage {
  width: 100%;
  height: 750px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
}

.contentContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  color: white;
}

.content {
  max-width: 32rem;
}

.title {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 1.2;
}

.subtitle {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 500;
  font-style: medium;
  margin-bottom: 1rem;
}

.tag {
  font-size: 18px;
  font-weight: 500;
  font-style: medium;
  line-height: 1;
  background-color: var(--secondary);
  color: var(--foreground);
  border-radius: var(--radius);
  padding: 8px 10px;
  display: inline-block;
  font-weight: 500;
}

.arrowsContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  transform: translate(-50%, -50%);
  display: flex;
}

.button {
  margin-top: 48px;
  width: 174px;
  height: 47px;
}

.dotsContainer {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
}

.dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.5);
}

.dot:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.dotActive {
  background-color: white;
}

@media (max-width: 768px) {
  .sliderContainer {
    height: 424px;
  }

  .slideImage {
    height: 424px;
  }

  .subtitle {
    font-size: 12px;
  }

  .tag {
    font-size: 12px;
  }

  .arrowsContainer {
    bottom: 0;
    justify-content: start;
    top: auto;
    padding-left: 25px;
    transform: translate(-50%, 0);
  }

  .title {
    font-size: 32px;
    margin-top: 16px;
  }

  .contentContainer {
    padding: 0 25px;
  }
}
