.sliderButton {
  padding: 0.75rem 2rem;
  font-size: 1.125rem;
  font-weight: 600;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
  background: var(--foreground);
  color: var(--background);
  cursor: pointer;
  transition: all 0.3s ease;
}

.sliderButton:disabled {
  opacity: 0.5;
}

.sliderButton:hover {
  background-color: var(--primary-light);
  color: var(--background);
}
