/* Footer Styles */
.footerMain {
  background-color: var(--footer-bg);
  color: var(--footer-text);
  width: 100%;
  min-height: 340px;
  font-size: var(--text-xs);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: auto;
  flex: 1;
}

.footerContainer {
  max-width: 1170px;
  padding-top: 74px;
  padding-bottom: 0;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
}

.footerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  gap: 32px;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .footerGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.footerSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footerSection:first-child {
  align-items: start;
}

.footerSection:last-child {
  align-items: end;
  gap: 16px;
}

.footerSocialButtons {
  height: fit-content;
}

.footerDescription {
  color: var(--footer-text);
  font-size: var(--text-xs);
  font-weight: 500;
  font-style: medium;
  line-height: 1.6;
}

.footerNavTitle {
  color: var(--primary);
  font-weight: 600;
  font-size: var(--text-sm);
  line-height: 1;
  text-transform: uppercase;
}

.footerNav {
  display: flex;
  line-height: 1;
  flex-direction: column;
  gap: 16px;
}

.footerNavLink {
  color: var(--footer-text);
  font-size: var(--text-xs);
  font-weight: 300;
  font-style: light;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footerNavLink:hover {
  color: var(--primary);
}

.footerContact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.footerContactInfo {
  color: var(--footer-text);
  font-size: var(--text-md);
  font-weight: 600;
  font-style: bold;
}

.footerContactInfo[data-highlight='true'] {
  font-weight: 500;
  font-style: medium;
  font-size: var(--text-sm);
  color: var(--primary-muted);
}

.footerSocialSection {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 24px;
}

.footerSocialTitle {
  color: var(--footer-text);
  font-size: calc(var(--font-size) - 2px);
}

.footerSocialIcon {
  color: var(--background);
  width: 29px;
  height: 29px;
}

.footerBottom {
  border-top: 1px solid var(--border-color);
  padding: 24px 0;
}

.footerBottomContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 17px;
  color: var(--typography-foreground-muted);
  gap: 8px;
}

@media (min-width: 640px) {
  .footerBottomContent {
    flex-direction: row;
  }
}
